*, html, body{

}
#errors{
	background-color: #D9B2B2;
	padding: 20px;
}
#messages{
	background-color: #93C799;
	padding: 20px;
}
.ok{
	color: green;
}
.error{
	color: red;
}
.none{
	display: none;
}
.header{
	overflow: hidden;
	height: 70px;
    background-color: #F1F1F3;	
}
.header .name{
	float: left;
    margin: 10px;
}
.header .links{
	float: right;
	font-size: 0;
    margin: 10px;
}
.header .links a{
	margin-left: 10px;
	font-size: 16px;
}

.navi a,
.navi span{
	margin: 0 10px 0 0;	
}
.users .user.off,
.users .role.off{
	/*overflow: hidden;*/
	text-decoration: line-through;
}
.users .user{
	overflow: hidden;
	padding: 0;
}
.users .state.on{
	background-color: green;
	padding-right: 2px;
}
.users .state.off{
	background-color: red;
	padding-right: 2px;
}
div.table{
	display: table;
}
div.tr{
	display: table-row;
}
div.td{
	border-top: 1px solid gray;
	display: table-cell;
	/*width: 100%;*/
	max-width: 18em;
	padding-left: 15px;
}
div.tr:first-child .td{
	font-weight: 700;
}
div.tr:last-child .td{
	border-bottom: 1px solid gray;
}

.navi #n_page input#n_page_input{
	width: 75px;
}
.navi #n_page a{
	width: 75px;
	text-decoration: none;
}
.navi #n_page a:hover{
	background-color: #eee;
}
.navi .sort select,
.navi .sort p{
	float: left;
	margin: 0 10px 0 0;
}
.navi .sort input{
	float: left;
	margin: 5px 10px 0 0;
}
.navi .sort{
	clear: both;
	overflow: hidden;
	margin-bottom: 5px;
}
.navi .sort input[type="text"]{
	margin: 0 10px 0 0;
	/*border: 1px solid #cccccc;*/
}
#find_form .link_add{
	text-decoration: none;
	color: black;
	background-color: #ccc;
	padding: 0 4px 0;
	margin-top: 1px;
	float: left;
}
#find_form input[type="text"].error{
	color: red;
}

.popup{
	border: 1px solid #bbb;
	position: fixed;
	top: 400px;
	left: 500px;
	width: 250px;
	padding: 20px 30px 30px;
	background-color: #ddd;
	display: none;
}
.popup .buttons{
	text-align: center;
}
.popup p{
	text-align: center;
}
.popup a{
	text-align: center;
	padding: 0 30px;
	margin: 0 10px;
	background-color: #bbb;
	text-decoration: none;
	color: black;
}

