*, html, body{

}
.ok{
	color: green;
}
.error{
	color: red;
}
.none{
	display: none;
}
.header{
	overflow: hidden;
	height: 70px;
    background-color: #F1F1F3;	
}
.header .name{
	float: left;
    margin: 10px;
}
.header .links{
	float: right;
	font-size: 0;
    margin: 10px;
}
.header .links a{
	margin-left: 10px;
	font-size: 16px;
}